:root {
    --bg-color: #f4f5f7;
    --text-main: #172b4d;
    --primary-btn: #0052cc;
    --border-color: #dfe1e6;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #0747a6;
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #5e6c84;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
        width: 250px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.btn-submit {
    background: var(--primary-btn);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-cancel {
    text-decoration: none;
    color: #5e6c84;
    align-self: center;
}